@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

@font-face {
  font-family: Wyn;
  src: url(Wyn.otf);
}

t1 {font-family: Wyn;
font-size: 120px;
text-shadow: 3px 3px 3px #ffffff;

}

he6 {font-family: 'Arial', serif;
font-size: 80px;
font-color: #f1f1f1;
text-shadow: 3px 3px 3px #ffffff;

}

/* Container holding the image and the text */
.imgcontainer {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
left: 360px;
  background-color: #189EC7;
  color: black;
  font-family: 'Roboto Slab';
  Font-size: 20px;
  margin-left:-60px;
  width: 50%;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  top-margin:-10px;
  text-align: center;
  background-image: url("blogh1.png");
  background-size: cover;
background-position-x: right 20px;
background-position-y: top 20px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 70%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 50px;
}

/* Fake image */
.fakeimg {
  background-color: #1b539c;
  width: 85%;
  align: center;
  padding: 10px;
  border-radius: 15px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  margin-top:30px;
padding-top:25px;
padding-bottom: 25px;
padding-right: 13px;
padding-left: 13px;
  text-align: center;
 background-color: #161717;
 font-family: Helvetica;
  color: white;
  margin-bottom:-8px;
column-count: 3;
column-gap: 15px;
}

.littlefoot {
 background-color: #161717;
 font-family: Helvetica;
  color: white;
  font-size: 18px;
  margin-top:100px;
  margin-bottom:-8px;
}


/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 18px;
  border: 1px solid grey;
width: 180px;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {

  width: 40px;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

ul {
 list-style-type: none;
  margin: 0;
  font-family: Arial;
  font-size: 14px;
  border-radius: 12px;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(#0287B0, #0A519A);
  position: fixed;
  top: 0;
  width: 100%;
}


li {
  float: left;
  border-radius: 12px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background: #ddd;
  color: black;
  border-radius: 12px;
  transition: background-color 1s ease-out 100ms
}


::-moz-selection { /* Code for Firefox */
  color: #f1f1f1;
  background:#1b539c
;
}

::selection {
  color: #f1f1f1;
  background: #1b539c
;
}

/* Style the header: fixed position (always stay at the top) */
.header2 {
  position: fixed;
  top: 0;
  margin-bottom: -20px;
  z-index: 1;
  width: 100%;
  background-color: #000000;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #0e121c;
  width: 0%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

.button {
  cursor: pointer;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  cursor: pointer;
  background-color: #555;
}

.btn {color: #FFFFFF;
background: linear-gradient(#8c55a6
 10%, #592f6d
 90%);
font-size: 20px;
cursor: pointer;
}

.dateform {
  font-family: 'Roboto Slab', serif;
margin-right: 100px;
margin-bottom: 30px;
padding: 15px;
  background-color:#3c3c44
;
  color: white;
max-width:240px;
}

.ribbon {
  position: relative;
  right: -820px;
  top: -20px;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: left;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#8c55a6
 10%, #592f6d
 90%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #421d53;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #421d53;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 4; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #0a519a; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  transition: 1s ease-out 100ms
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.menuicon {width: 90px;
height: 90px;
margin-left: -10px;
margin-top: 90px;
Position: absolute;
border-radius: 45px;
background-color: #ffffff;
cursor: pointer;
z-index: 2;
box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
}

.boxmenu {width: 250px;
height: 45px;
margin-top: 100px;
margin-left: 10px;
Position: absolute;
text-align: center;
font-size: 15px;
font-weight: bold;
color: #ffffff;
background-color: #3c3c44;
}

.footer-icons a{
  padding:4px;
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
background-color:  #0287B0;
border-radius: 2px; 
font-size: 30px;
color: #ffffff;
text-align: center;
line-height: 35px;
margin-right: 3px;
margin-bottom: 5px;
 -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.footer-icons a:hover{
cursor: pointer;
background-color: #0287B0;
text-align: center;
 box-shadow: 0 10px 10px -10px #ffffff;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;


  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}